.food_gallery{
    position: relative;
    top: 8vh;
    width: 100%;
    height: fit-content;
}
.food_gallery .parth{
    height: 2vh;
    padding: 10px;
    font-size:20px;
    color: black;
    background-color: aqua;
    text-align: left;
}

.food_gallery .cat{
    display: grid;
    grid-gap: 32px;
    padding: 32px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

    
.food_gallery .box_wrapper{
    /*background-color: pink;*/
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(121, 121, 121);
    border: 3px solid rgb(121, 121, 121);

}


.box .image_wrapper{
  width: 100%;
} 

.box .image{
  
    width: 100%;
    height: 250px;
    /*background-color: blue;*/
}
.box .image img{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}
.box .name_wrapper {
    width: 100%;
    height: 30px;
    /*background-color: rgb(105, 255, 40);*/
    display: flex;
    align-items: center;
    
}

.box .name_wrapper .name_tag{
    font-size: clamp(14px , 6vw , 18px);
    font-weight: 700;
    padding-left: 10px;
}

.box .price_wrapper {
    position: relative;
    width: 100%;
    height: 50px;
    /*background-color: rgb(242, 138, 138);*/
    display: flex;
    align-items: center;

   
}
.box .price_wrapper .price_tag{
    position: absolute;
    font-size: clamp(14px , 6vw , 18px);
    padding-left: 10px;
    width: fit-content;
    left: 0;
}

.box .price_wrapper .add_to_cart_btn{
   position: absolute;
   background-color: rgb(170, 3, 170);
   right: 10px; 
   height: 30px;
   width: fit-content;
   font-size: 15px;
   font-weight: 700;
   border: none;
   border-radius: 10px;
   padding-left: 10px;
   padding-right: 10px;
   line-height: 30px;
   cursor: pointer;
   
}
.box .price_wrapper .add_to_cart_btn:hover{
    background-color: rgb(86, 255, 24);
    font-weight: 900;
}